<footer class="social-footer">
  <link href = "./../../css/footerStyle.css" rel = "stylesheet" type = "text/css" />
  <link href="https://fonts.googleapis.com/css?family=Courgette|Satisfy" rel="stylesheet">
  <div class = "footerClass">
    <p>Population Advertisements - Copyright {{getCurrentYear}}</p>
  </div>
</footer>
