<footer class="social-footer">
  <link href = "./../../css/footerStyle.css" rel = "stylesheet" type = "text/css" />
  <link href="https://fonts.googleapis.com/css?family=Courgette|Satisfy" rel="stylesheet">
  <div class = "footerClass">
    <ul>
      <li>
        <div class = "followBox">
          <h6> Follow Us </h6>
          <ul>
            <li><a href="https://www.facebook.com/population.ad"><i class="fa fa-facebook"></i> Facebook</a></li>
            <li><a href="https://www.instagram.com/population.ad/"><i class="fa fa-instagram"></i> Instagram</a></li>
            <li><a href="https://www.linkedin.com/company/population-advertisements/"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class = "companyBox">
          <h5> Company </h5>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class = "contactBox">
          <h4> Contact </h4>
          <ul>
            <li>Email: population.advertisements@gmail.com</li>
          </ul>
          <h3> Headquarters </h3>
          <ul>
            <li> Long Beach, California </li>
            <li> Coming soon to Los Angeles </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

</footer>
