<header>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href = "./../../css/headerStyle.css" rel = "stylesheet" type = "text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Carter+One|Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titan+One" rel="stylesheet">
  <head>
  <body>
    <div id="main">
      <nav>
        <!-- <img src = "../images/popAdLogo4.png" width="130" height="70"> -->
        <ul id ="leftNav">
          <li>pa | Pop Ads</li>
        </ul>
        <ul id="rightNav">
          <li><a href="https://www.facebook.com/population.ad" class="fa fa-facebook"></a></li>
          <li><a href="https://www.instagram.com/population.ad/" class="fa fa-instagram"></a></li>
          <li><a href="https://www.linkedin.com/company/population-advertisements/" class="fa fa-linkedin"></a></li>
        </ul>
        <ul id="centerNav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </body>
</header>
