<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <meta name="description" content="Learn about our team and brand here at Population Advertisements."/>

    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon3/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon3/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon3/favicon-16x16.png">
    <link rel="manifest" href="../images/favicon3/site.webmanifest">
    <link rel="mask-icon" href="../images/favicon3/safari-pinned-tab.svg" color="#008080">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">

    <title> Population Advertisements: About </title>
    <link rel="stylesheet" href = "../css/aboutStyle.css">
  </head>
  <body>
      {{>header}}
      <div class = "main">

        <div class = "header">
          <p> Population Advertisements is the future of the advertising industry. Using a peer-to-peer advertising strategy, Population Advertisements employs the use of the general consumer in order to expose the population to local or national products and services. With a fitted LED sign aboard your car and a smart phone, anyone with a license can earn extra income through advertising. Founded in LA county, Population Advertisements can provide a dynamic exhibition of a companies merits through their consumers. </p>
        </div>

        <div class = "bottomHeader">
          <p> Meet Our Founders </p>
        </div>

        <div class = "row">
          <div class = "column">
            <div class = "card">
              <img src="../images/raman.jpg" alt="Raman" class = "image" style="width:100%">
              <div class = "middle">
                <div class = "text"> Raman Kooner </div>
              </div>
              <div class = "container">
              <h2> Raman Kooner </h2>
              </div>
            </div>
          </div>

          <div class = "column">
            <div class = "card">
              <img src="../images/darrich.jpg" alt="Darrich" class = "image" style="width:100%">
              <div class = "middle">
                <div class = "text"> Darrich Moni </div>
              </div>
              <div class = "container">
              <h2> Darrich Moni </h2>
              </div>
            </div>
          </div>

          <div class = "column">
            <div class = "card">
              <img src="../images/jose.jpg" alt="Jose" class = "image" style="width:100%">
              <div class = "middle">
                <div class = "text"> Jose Long </div>
              </div>
              <div class = "container">
              <h2> Jose Long </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{>footer}}
  </body>
</html>
