<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <link rel='icon' href='../images/favicon/favicon.ico' type='image/x-icon'/ >
    <link rel="shortcut icon" href="../images/favicon/favicon.ico" type="image/x-icon" />
    <title> About </title>
    <link rel="stylesheet" href = "../css/aboutStyle.css">
  </head>
  <body>
      {{>header}}
      <div class = "main">

        <div class = "header">
            <p> Population Advertisement, Pop Ads for short, is a startup company founded in 2018 and based in Long Beach, CA. We serve the greater Los Angeles area and focus on making outdoor advertising more efficient by having the population participate on the campaign. Our “Pop Ads Concept” creates new job opportunities for the community while ensuring the vast success for generating impressions for a company’s advertisement campaign. </p>
        </div>

        <div class = "bottomHeader">
          <p> Meet Our Founders </p>
        </div>

        <div class = "row">
          <div class = "column">
            <div class = "card">
              <img src="../images/raman.jpg" alt="Raman" class = "image" style="width:100%">
              <div class = "middle">
                <div class = "text"> Raman Kooner </div>
              </div>
              <div class = "container">
              <h2> Raman Kooner </h2>
              <!--    <p class = "title"> CEO </p>
                <p> Describe Me here </p>
                <p> ramankooner9@gmail.com </p> !-->
              </div>
            </div>
          </div>

          <div class = "column">
            <div class = "card">
              <img src="../images/darrich.jpg" alt="Darrich" class = "image" style="width:100%">
              <div class = "middle">
                <div class = "text"> Darrich Moni </div>
              </div>
              <div class = "container">
              <h2> Darrich Moni </h2>
                <!--   <p class = "title"> CEO </p>
                <p> Describe Me here </p>
                <p> ramankooner9@gmail.com </p> !-->
              </div>
            </div>
          </div>

          <div class = "column">
            <div class = "card">
              <img src="../images/jose.jpg" alt="Jose" class = "image" style="width:100%">
              <div class = "middle">
                <div class = "text"> Jose Long </div>
              </div>
              <div class = "container">
              <h2> Jose Long </h2>
              <!--    <p class = "title"> CEO </p>
                <p> Describe Me here </p>
                <p> ramankooner9@gmail.com </p> !-->
              </div>
            </div>
          </div>

        <!--  <div class = "column">
            <div class = "card">
              <img src="../images/raman.jpg" alt="Miles" class = "image" style="width:100%">
              <div class = "middle">
                <div class = "text"> Miles Motely </div>
              </div>
              <div class = "container">
              <h2> Miles Motely </h2>
              </div>
            </div>
          </div> -->

        </div>
      </div>
      {{>footer}}
  </body>
</html>
