<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <link rel='icon' href='../images/favicon/favicon.ico' type='image/x-icon'/ >
    <link rel="shortcut icon" href="../images/favicon/favicon.ico" type="image/x-icon" />
    <title> Advertisers </title>
    <link rel="stylesheet" href = "../css/advertiserStyle.css">
  </head>
  <body>
    {{> header}}
    <div id="showcase">
      <h1> Take your company places </h1>
      <a href="/contact" class="button"> Learn More </a>
    </div>
    <div id = "headerContent">
      <h2> Your experience as an advertiser</h2>
    </div>

    <div class = "row">

      <div class = "column">
        <div class = "card">
          <img src="../images/picture1.png" alt="advertisersExperience" class = "image" style="width:100%">
          <div class = "container">
            <h3>Up to Speed Analytics </h3>
            <p> Take your ads on the road with our next-generation outdoor advertising concept </p>
          </div>
        </div>
      </div>

      <div class = "column">
        <div class = "card">
          <img src="../images/picture2.png" alt="advertisersExperience" class = "image" style="width:100%">
          <div class = "container">
            <h3> Get Closer </h3>
            <p> Showcase your company and get closer to your audience than ever. </p>
          </div>
        </div>
      </div>

      <div class = "column">
        <div class = "card">
          <img src="../images/picture3.png" alt="advertisersExperience" class = "image" style="width:100%">
          <div class = "container">
            <h3> Advertisement Quality and Quantity </h3>
            <p> Take your ads on the road with our next-generation advertising concept. </p>
          </div>
        </div>
      </div>

    </div>

    {{> footer}}
  </body>
</html>
