<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">

    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon3/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon3/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon3/favicon-16x16.png">
    <link rel="manifest" href="../images/favicon3/site.webmanifest">
    <link rel="mask-icon" href="../images/favicon3/safari-pinned-tab.svg" color="#008080">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:700" rel="stylesheet">
    <title> Advertisers - Population Advertisements </title>
    <meta name="description" content="Take your company on the road and gain millions of impressions with our service! Contact us to learn more about how you can improve your company's marketing strategy!"/>
    <link rel="stylesheet" href = "../css/advertiserStyle.css">
  </head>
  <body>
    {{> header}}

    <div id="showcase">
      <div class = "textBox">
        <h1> Enhance your marketing strategy. </h1>
        <h1> Learn more today. </h1>
        <div class = "buttonClass">
          <a href="/contact" class="button"> <b> Learn More </b> </a>
        </div>
      </div>
    </div>

    <div class = "headerImage">
      <div class = "imgBox">
          <img src="../images/advertiserPage/headerImage.jpg" alt="Mobile apps concept">
      </div>
    </div>

    <div class = "headerSmall">
      <div> </div>
    </div>

    <div id = "headerContent1">
      <div class = "headline">
        <h2> <b> Find new customers. Break the barrier. Boost your market. We're here to help. </b> </h2>
      </div>
    </div>

    <div class = "box">
      <div class = "content">
        <h2> Quality Campaigns </h2>
        <p> Our quality campaigns are guranteed to turn people into long term customers. Incorporate our service into your marketing strategy for the best return on investment. </p>
      </div>

      <div class = "imgBox">
          <img src="../images/advertiserPage/financePicture.jpg" alt="Financial Growth">
      </div>
    </div>

    <div class = "box5">
      <div class = "imgBox5">
          <img src="../images/advertiserPage/financePicture.jpg" alt="Financial Growth">
      </div>
      <div class = "content5">
        <h2> Quality Campaigns </h2>
        <p> Our quality campaigns are guranteed to turn people into long term customers. Incorporate our service into your marketing strategy for the best return on investment. </p>
      </div>
    </div>


    <div class = "box1">
      <div class = "imgBox1">
          <img src="../images/advertiserPage/analyticsPic1.jpg" alt="Favorable Analytics">
      </div>
      <div class = "content1">
        <h2> Favorable Analytics</h2>
        <p> We keep you updated with analytics on your campaign. Our signs are equipped with GPS technology to determine the number of miles your signs have generated. </p>
      </div>
    </div>

    <div class = "box2">
      <div class = "content2">
        <h2> New Customers </h2>
        <p> Our dynamic advertisements will bring customers from different areas of Los Angeles County. Use our service to take your business to areas that were once unreachable.</p>
      </div>

      <div class = "imgBox2">
          <img src="../images/advertiserPage/hollywoodSignView1.jpg" alt="Los Angeles Hollywood Sign View">
      </div>
    </div>

    <div class = "box6">
      <div class = "imgBox6">
          <img src="../images/advertiserPage/hollywoodSignView1.jpg" alt="Los Angeles Hollywood Sign View">
      </div>

      <div class = "content6">
        <h2> New Customers </h2>
        <p> Our dynamic advertisements will bring customers from different areas of Los Angeles County. Use our service to take your business to areas that were once unreachable.</p>
      </div>
    </div>

    <div id = "headerContent2">
      <div class = "headline">
        <h2> <b> Pick Your Campaign </b> </h2>
      </div>
    </div>

    <div class = "box3">
      <div class = "content3">
        <h2> Shared Campaign </h2>
        <p> Advertisements will be shared with other advertisements on a single sign. We rotate between four different advertisements on shared campaigns.</p>
      </div>

      <div class = "content3">
        <h2> Dedicated Campaign </h2>
        <p> Advertisements will have their own dedicated sign. Companies have the option to choose a single design or rotate between different designs.</p>
      </div>
    </div>

    <div class = "box4">
      <div class = "content4">
        <h2> Contact Us to Learn More</h2>
        <p> We will gladly help with any questions or concerns. </p>
        <p> <a href="/contact" class="button"> <b> Learn More </b> </a> </p>
      </div>
    </div>

    {{> footer}}
  </body>
</html>
