<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <link rel='icon' href='../images/favicon/favicon.ico' type='image/x-icon'/ >
    <link rel="shortcut icon" href="../images/favicon/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant" rel="stylesheet">
    <title> Drivers </title>
    <link rel="stylesheet" href = "../css/driverStyle.css">
  </head>
  <body>
    {{> header}}

    <div id="showcase">
      <div class = "textBox">
        <h1> Create your own schedule. </h1>
        <h1> Apply today. </h1>
        <div class = "buttonClass">
          <a href="/signUp" class="button"> <b> Apply Now </b> </a>
        </div>
      </div>
    </div>

    <div class = "headerImage">
      <div class = "imgBox">
          <img src="../images/driverPage/headBanner.jpg" >
      </div>
    </div>

    <div class = "headerSmall">
      <div> </div>
    </div>

    <div id = "headerContent1">
      <div class = "headline">
        <h2> <b> We make it easy on you. Don't worry about anything except driving your daily routes while earning cash. </b> </h2>
      </div>
    </div>

    <div class = "box">
      <div class = "imgBox">
          <img src="../images/driverPage/driverImage.jpeg" >
      </div>
      <div class = "content">
        <h2> Limitless Earnings </h2>
        <p> There is no limit to how much you can earn. It is our duty to ensure that our drivers' experience a smooth journey and earn their fair amount of pay.  </p>
      </div>
    </div>

    <div id = "headerContent2">
      <div class = "headline">
        <h2> <b> The Process </b> </h2>
      </div>
    </div>

    <div class = "row">
      <div class = "column">
        <div class = "card">
          <img src="../images/driverPage/howTo1.png" alt="asset1" class = "image" style="width:100%">
          <div class = "container">
            <h3> Step 1 </h3>
            <p> Apply to become a driver. </p>
          </div>
        </div>
      </div>

      <div class = "column">
        <div class = "card">
          <img src="../images/driverPage/howTo2.png" alt="asset2" class = "image" style="width:100%">
          <div class = "container">
            <h3> Step 2 </h3>
            <p> Install our sign on your car. </p>
          </div>
        </div>
      </div>

      <div class = "column">
        <div class = "card">
          <img src="../images/driverPage/howTo3.png" alt="asset3" class = "image" style="width:100%">
          <div class = "container">
            <h3> Step 3 </h3>
            <p> Earn for every mile driven. </p>
          </div>
        </div>
      </div>
    </div>

    <div id = "headerContent2">
      <div class = "headline">
        <h2> <b> Are you Eligible? </b> </h2>
      </div>
    </div>

    <div class = "row1">
      <div class = "column1">
        <div class = "card1">
          <div class = "container1">
            <h3> Requirements </h3>
            <div class = "listContainer">
              <ul>
                <li> 18 years or older</li>
                <li> Own a car compatible with sign</li>
                <li> Drive 300 miles per month</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class = "column1">
        <div class = "card1">
          <div class = "container1">
            <h3> Documents </h3>
            <div class = "listContainer">
              <ul>
                <li> Valid drivers license</li>
                <li> Proof of insurance</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class = "column1">
        <div class = "card1">
          <div class = "container1">
            <h3> Sign Up </h3>
            <div class = "listContainer">
              <ul>
                <li> Provide valid information</li>
                <li> Determine if your car is compatible with our signs</li>
                <li> Agree to our terms and conditions</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class = "box2">
      <div class = "content2">
        <h2> Apply Now or Learn More </h2>
        <p> We hope to work with you soon. </p>
        <p> <a href="/signUp" class="button"> <b> Apply Now </b> </a> </p>
        <p> <a href="/contact" class="button"> <b> Learn More </b> </a> </p>
      </div>
    </div>
    <!--
    <div id="content">
      <p> Driving for Population Advertisements has no boundaries because we believe that making an impact should not require you to drive a set route. We offer tips and tools such as customer support & heatmaps to ensure you make the most out of your drive with us. Driving with us brings competitive & progressive pay, promotions, and bonuses. </p>
    </div>


    <div id = "headerContent">
      <div class = "howItWorks">
        <h2> THE PROCESS </h2>
      </div>
    </div>

    <div class = "row1">
      <div class = "column1">
        <div class = "card1">
          <img src="../images/howTo1.png" alt="step1Process" class = "image" style="width:100%">
          <div class = "container1">
            <h3> Step 1 </h3>
            <p> Apply to become a driver </p>
          </div>
        </div>
      </div>

      <div class = "column1">
        <div class = "card1">
          <img src="../images/howTo2.png" alt="step2Process" class = "image" style="width:100%">
          <div class = "container1">
            <h3> Step 2 </h3>
            <p> Install our sign on your car </p>
          </div>
        </div>
      </div>

      <div class = "column1">
        <div class = "card1">
          <img src="../images/howTo3.png" alt="step3Process" class = "image" style="width:100%">
          <div class = "container1">
            <h3> Step 3 </h3>
            <p> Earn for every mile driven  </p>
          </div>
        </div>
      </div>

    </div>


    <div id = "headerContent2">
      <div class = "eligible">
        <h2> ARE YOU ELIGIBLE? </h2>
      </div>
    </div>

    <div class = "overall">
    <div class = "row">
      <div class = "column">
        <div class = "card">
          <div class = "container">
            <h3> Requirements </h3>
            <div class = "listContainer">
              <ul>
                <li> 18 years or older</li>
                <li> Own a car compatible with sign</li>
                <li> Drive 300 miles per month</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class = "column">
        <div class = "card">
          <div class = "container">
            <h3> Documents </h3>
            <div class = "listContainer">
              <ul>
                <li> Valid drivers license</li>
                <li> Proof of insurance</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class = "column">
        <div class = "card">
          <div class = "container">
            <h3> Sign Up </h3>
            <div class = "listContainer">
              <ul>
                <li> Provide valid information</li>
                <li> Determine if your car is compatible with our signs</li>
                <li> Agree to our terms and conditions</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div id = "headerContent3">
      <div class = "payRates">
        <h2> THERE ARE NO LIMITS</h2>
      </div>
    </div>

    <div class = "tableRates">
      <table>
        <tr>
          <th> Earnings Per Mile</th>
          <th> Miles</th>
        </tr>
        <tr>
          <td> $0.35 </td>
          <td> 0 - 1380 </td>
        </tr>
        <tr>
          <td> $0.20 </td>
          <td> 1381 - 2000 </td>
        </tr>
        <tr>
          <td> $0.10 </td>
          <td> 2001+ </td>
        </tr>
      </table>
    </div>

    <div class = "example">
      <p> Example: 4000 miles = (1380 * .35) + (620 * .20) + (2000 * .10) = $807 </p>
    </div>

    <div id = "headerContent4">
      <div class = "dontHesitate">
        <h2> DON'T HESITATE</h2>
      </div>
    </div>
    -->



    <!--
    <div class = "row1">
      <div class="column1">
        <div class = "imageClass">
        </div>
      </div>
      <div class = "column1">
        <p> Sign up and place our sign on top of your car </p>
      </div>

      <div class="column1">
        <p> Launch the app and start your ride </p>
      </div>
      <div class = "column1">
        <div class = "imageClass1">
        </div>
      </div>

      <div class="column1">
        <div class = "imageClass2">
        </div>
      </div>
      <div class = "column1">
        <p> Get paid to drive everywhere you go </p>
      </div>
    </div>

    <div class = "row2">
      <div class="column1">
        <p> Sign up and place our sign on top of your car </p>
      </div>
      <div class = "column1">
        <img src="../images/signUp.jpeg" alt="signUp" class = "image" style="width:100%">
      </div>

      <div class="column1">
        <p> Launch the app and start your ride </p>
      </div>
      <div class = "column1">
        <img src="../images/carPhone.jpeg" alt="carPhone" class = "image" style="width:100%">
      </div>

      <div class="column1">
        <p> Get paid to drive everywhere you go </p>
      </div>
      <div class = "column1">
        <img src="../images/happyPerson.jpeg" alt="getPaid" class = "image" style="width:100%">
      </div>
    </div>

      -->

<!--
    <div class = "getStarted">
      <a href="/signUp" class="button"> <b> APPLY NOW </b> </a>
    </div>
-->
    {{> footer}}
  </body>
</html>
