<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <link rel='icon' href='../images/favicon/favicon.ico' type='image/x-icon'/ >
    <link rel="shortcut icon" href="../images/favicon/favicon.ico" type="image/x-icon" />
    <title> Drivers </title>
    <link rel="stylesheet" href = "../css/driverStyle.css">
  </head>
  <body>
    {{> header}}

    <div id="showcase">
      <h1> Set your own road for opportunities </h1>
      <a href="#" class="button"> Sign up </a>
    </div>
    <div id="content">
      <p> Driving for Pop Ads has no boundaries, we believe that making an impact should not require you to drive a set route. We offer tips, tools, and “heat-zones” to ensure you make the most out of your drive with us. Driving with us brings competitive pay, pay rate advancements, promotions, and bonuses. </p>
    </div>
    <div id = "headerContent">
      <h2> How it works </h2>
    </div>

    <div class = "row1">
      <div class="column1">
          <img src="../images/pictureCity.jpeg" alt="signUp" class = "image" style="width:100%">
      </div>
      <div class = "column1">
        <p> Sign up and place our sign on top of your car </p>
      </div>

      <div class="column1">
        <p> Launch the app and start your ride </p>
      </div>
      <div class = "column1">
        <img src="../images/carPhone.jpeg" alt="carPhone" class = "image" style="width:100%">
      </div>

      <div class="column1">
        <img src="../images/happyPerson.jpeg" alt="getPaid" class = "image" style="width:100%">
      </div>
      <div class = "column1">
        <p> Get paid to drive everywhere you go </p>
      </div>
    </div>

    <div class = "row2">
      <div class="column1">
        <p> Sign up and place our sign on top of your car </p>
      </div>
      <div class = "column1">
        <img src="../images/pictureCity.jpeg" alt="signUp" class = "image" style="width:100%">
      </div>

      <div class="column1">
        <p> Launch the app and start your ride </p>
      </div>
      <div class = "column1">
        <img src="../images/carPhone.jpeg" alt="carPhone" class = "image" style="width:100%">
      </div>

      <div class="column1">
        <p> Get paid to drive everywhere you go </p>
      </div>
      <div class = "column1">
        <img src="../images/happyPerson.jpeg" alt="getPaid" class = "image" style="width:100%">
      </div>
    </div>

    <div class = "getStarted">
      <a href="#" class="button"> Sign Up </a>
    </div>
    {{> footer}}
  </body>
</html>
