<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <meta name="description" content="Population Advertisements. Outdoor advertising. Limitless earnings. Sign up today for our 2019 beta.">
    <meta name="keywords" content="Population Advertisements, advertisements, popad, pop ad, Pop advertisements, advertising, populationadvertisements, population advertisements">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="011RZDof8dfna8hyAxS4CjYGdoFeK3VtueU8sM3VHAQ" />
    <meta name="google-site-verification" content="E3mU6DM9am8qTmcLwToHPjEIOMide5g9EsfDJuYTEww" />

    <title> Population Advertisements </title>

    <link rel='icon' href='../images/favicon/favicon.ico' type='image/x-icon'/ >
    <link rel="shortcut icon" href="../images/favicon/favicon.ico" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <link rel="stylesheet" href = "../css/mainStyle.css">
  </head>

  <body>
    {{> header}}

    <div id="showcase">
      <div class = "text1">

        <div class="text">
          <p>Start your</p>
          <p>
            <span class="word blue">journey.</span>
            <span class="word teal">campaign.</span>
            <span class="word pomegranate">movement.</span>
            <span class="word green">operation.</span>
            <span class="word midnight">drive.</span>
          </p>
        </div>
        <ul>
          <li><a href="/drivers" class="button"> <b> Drivers </b> </a></li>
          <li><a href="/advertisers" class="button"> <b> Advertisers </b> </a></li>
        </ul>
      </div>
    </div>

    <div id = "headerContent1">
      <div class = "headline">
        <h2> <b> Designed to accelerate businesses and pay you for driving </b> </h2>
      </div>
    </div>

    <div class = "box">
      <div class = "imgBox">
          <img src="../images/homePage/cityPicture.png" >
      </div>
      <div class = "content">
        <h2>Over 2.2 Million Impressions</h2>
        <p>With a population of 10.16 million in the Los Angeles County, your advertisements are guranteed to be seen by millions of people per month.</p>
        <p> <a href="/advertisers" class="button"> <b> Learn More </b> </a> </p>
      </div>
    </div>

    <div class = "box1">
      <div class = "content1">
        <h2>Over 5,000,000 Drivers</h2>
        <p>There are more than 5 million drivers in the Los Angeles County. Start getting paid to drive your daily routine.</p>
        <p> <a href="/drivers" class="button"> <b> Learn More </b> </a> </p>
      </div>

      <div class = "imgBox1">
          <img src="../images/homePage/financePic.png" >
      </div>
    </div>

    <div class = "box2">
      <div class = "imgBox2">
          <img src="../images/homePage/financePic.png" >
      </div>
      <div class = "content2">
        <h2>Over 5,000,000 Drivers</h2>
        <p>There are more than 5 million drivers in the Los Angeles County. Start getting paid to drive your daily routine.</p>
        <p> <a href="/drivers" class="button"> <b> Learn More </b> </a> </p>
      </div>
    </div>

    <div id = "headerContent1">
      <div class = "headline">
        <h2> <b> <i> "To the consumer, through the consumer" </i> </b> </h2>
      </div>
    </div>

    <div id = "headerContent2">
      <div class = "headline">
        <h2> <b> Drop the Static </b> </h2>
      </div>
    </div>

    <div class = "dropStatic3">
      <div> </div>
    </div>

    <div class = "dropStatic">
      <div class = "imgBox2">
          <img src="../images/homePage/landscapePicture.png" >
      </div>
    </div>

    <div id = "headerContent3">
      <div class = "headline">
        <h2> <b> It's Time to go Dynamic </b> </h2>
      </div>
    </div>

    <div class = "dropStatic4">
      <div> </div>
    </div>

    <div class = "dropStatic">
      <div class = "imgBox2">
          <img src="../images/homePage/staticPicture2.png" >
      </div>
    </div>



    <div id = "headerContent4">
      <div class = "headline">
        <h2> <b> What we offer </b> </h2>
      </div>
    </div>


    <div class = "row">
      <div class = "column">
        <div class = "card">
          <img src="../images/assets/Asset 3.png" alt="asset1" class = "image" style="width:100%">
          <div class = "container">
            <h3> Limitless Earnings </h3>
            <p> There is no limit to how much you can earn. We pay you based on how many miles you drive per month. </p>
          </div>
        </div>
      </div>

      <div class = "column">
        <div class = "card">
          <img src="../images/assets/Asset 5.png" alt="asset2" class = "image" style="width:100%">
          <div class = "container">
            <h3> On-Demand Installation/Removal </h3>
            <p> Need the sign removed? No worries, we will remove the sign and install it when you're ready. </p>
          </div>
        </div>
      </div>

      <div class = "column">
        <div class = "card">
          <img src="../images/assets/Asset 6.png" alt="asset3" class = "image" style="width:100%">
          <div class = "container">
            <h3> Minimal Effort </h3>
            <p> Drive your daily routine without worrying about the sign. We take care of everything. </p>
          </div>
        </div>
      </div>
    </div>

    <div class = "row">
      <div class = "column">
        <div class = "card">
          <img src="../images/assets/Asset 7.png" alt="asset4" class = "image" style="width:100%">
          <div class = "container">
            <h3> Dynamic Advertising </h3>
            <p> Our dynamic advertisements will bring people from all geographic locations to your business. </p>
          </div>
        </div>
      </div>

      <div class = "column">
        <div class = "card">
          <img src="../images/assets/Asset 9.png" alt="asset5" class = "image" style="width:100%">
          <div class = "container">
            <h3> Meticulously Curated Campaigns </h3>
            <p> Our advertising campaigns are guranteed to generate numerous impressions and increase your customers. </p>
          </div>
        </div>
      </div>

      <div class = "column">
        <div class = "card">
          <img src="../images/assets/Asset 8.png" alt="asset6" class = "image" style="width:100%">
          <div class = "container">
            <h3> Inexpensive Advertisements </h3>
            <p> We offer cheap and affordable advertisements for any business looking to upgrade their marketing strategy. </p>
          </div>
        </div>
      </div>
    </div>

    <script>
      var words = document.getElementsByClassName('word');
      var wordArray = [];
      var currentWord = 0;

      words[currentWord].style.opacity = 1;
      for (var i = 0; i < words.length; i++) {
        splitLetters(words[i]);
      }

      function changeWord() {
        var cw = wordArray[currentWord];
        var nw = currentWord == words.length-1 ? wordArray[0] : wordArray[currentWord+1];
        for (var i = 0; i < cw.length; i++) {
          animateLetterOut(cw, i);
        }

        for (var i = 0; i < nw.length; i++) {
          nw[i].className = 'letter behind';
          nw[0].parentElement.style.opacity = 1;
          animateLetterIn(nw, i);
        }

        currentWord = (currentWord == wordArray.length-1) ? 0 : currentWord+1;
      }

      function animateLetterOut(cw, i) {
        setTimeout(function() {
          cw[i].className = 'letter out';
        }, i*80);
      }

      function animateLetterIn(nw, i) {
        setTimeout(function() {
          nw[i].className = 'letter in';
        }, 340+(i*80));
      }

      function splitLetters(word) {
        var content = word.innerHTML;
        word.innerHTML = '';
        var letters = [];
        for (var i = 0; i < content.length; i++) {
          var letter = document.createElement('span');
          letter.className = 'letter';
          letter.innerHTML = content.charAt(i);
          word.appendChild(letter);
          letters.push(letter);
        }

        wordArray.push(letters);
      }

      changeWord();
      setInterval(changeWord, 4000);
    </script>

    {{>footer}}
  </body>
</html>
