<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="011RZDof8dfna8hyAxS4CjYGdoFeK3VtueU8sM3VHAQ" />
    <meta name="google-site-verification" content="E3mU6DM9am8qTmcLwToHPjEIOMide5g9EsfDJuYTEww" />
    <title> Population Advertisements </title>
    <link rel='icon' href='../images/favicon/favicon.ico' type='image/x-icon'/ >
    <link rel="shortcut icon" href="../images/favicon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href = "../css/mainStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  </head>

  <body>
    {{> header}}
    <div id="showcase">
      <h1> Start your journey. </h1>
      <a href="/drivers" class="button"> Learn More </a>
    </div>

    {{>footer}}
  </body>
</html>
