<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon3/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon3/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon3/favicon-16x16.png">
    <link rel="manifest" href="../images/favicon3/site.webmanifest">
    <link rel="mask-icon" href="../images/favicon3/safari-pinned-tab.svg" color="#008080">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">

    <title> Sign Up - Population Advertisements </title>
    <meta name="description" content="Sign up to become a driver today!"/>
    <link rel="stylesheet" href = "../css/signUp.css">
  </head>
  <body>
      {{>header}}
      <div class = "container">
        <div style="text-align:center">
          <h2> Personal Information </h2>
        </div>

        <div class = "signUpForm">
          <form id="signUp" action="sendSignUp" method="POST">
            <label for="email"> Email* </label>
            <input type="text" id="email" name="email" placeholder="Email..." required>

            <label for="firstname"> First Name* </label>
            <input type="text" id="firstName" name="firstname" placeholder="First Name..." required>

            <label for="lastname"> Last Name* </label>
            <input type="text" id="lastName" name="lastname" placeholder="Last Name..." required>

            <label for="birthDate"> Birth Date* </label>
            <input type="date" id="birthDate" name="birthDate" required>

            <label for="address1"> Address 1* </label>
            <input type="text" id="address1" name="address1" placeholder="Address 1..."required>

            <label for="address2"> Address 2 </label>
            <input type="text" id="address2" placeholder="Address 2..." name="address2">

            <label for="city"> City* </label>
            <input type="text" id="city" name="city" placeholder="City..." required>

            <label for="state"> State* </label>
            <input type="text" id="state" name="state" placeholder="State..." required>

            <label for="zipCode"> Zip Code* </label>
            <input type="text" id="zipCode" name="zipCode" placeholder="Zip Code..." required>

            <label for="phoneNumber"> Phone Number </label>
            <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone Number...">

            <h2> Car Information </h2>

            <label for="carMake"> Car Make* </label>
            <input type="text" id="carMake" name="carMake" placeholder="Ex. Honda, Toyota..." required>

            <label for="carModel"> Car Model* </label>
            <input type="text" id="carModel" name="carModel" placeholder="Ex. Civic, Tacoma..." required>

            <label for="carYear"> Car Year* </label>
            <input type="text" id="carYear" name="carYear" placeholder="Ex. 1998, 2003, 2016..." required>

            <label for="carStyle"> Car Style* </label>
            <input type="text" id="carStyle" name="carStyle" placeholder="Ex. 2 Door, 4 Door, SUV..." required>

            <div class = "buttonClass">
              <input type="submit" name = "submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
      {{>footer}}
  </body>
</html>
