body {
/*  background: url('../images/backgroundAbout.png');*/
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 3px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Muli", sans-serif;
}

.buttonClass {
  text-align: center;
}

input[type=submit] {

  background-color: #404040;
  color: white;
  padding: 10px 20px;
  border: 2px solid	#000;
  cursor: pointer;
  font-family: "Muli", sans-serif;
}

input[type=submit]:hover {
  background-color: #707070;
}

.container {
  border-radius: 5px;
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  padding: 20px;
  font-family: "Muli", sans-serif;
}

@media only screen and (max-width : 650px) {
  .container h2 {
    font-size: 1.1em;
  }
}
