* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-size: 17px;
  line-height: 1.6;
  /*background: url('../images/backgroundAbout.png');*/
}

#showcase {
  background-color: #cec2f3;
  height: 70vh;
  margin-top: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
}

#showcase .textBox {
  text-align: left;
}

#showcase .textBox h1 {
  font-size: 4.5em;
  color: #333;
}

#showcase .textBox .buttonClass {
  padding-top: 50px;
}

#showcase .button {
  font-size: 18px;
  font-family: "Muli",sans-serif;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
  padding: 10px 30px;
  box-shadow: 3px 4px 6px grey;
  margin-top: 30px;
}

#showcase .button:hover {
  background: #707070;
  color: #fff;
}

.headerImage {
  margin: 0 auto;
  margin-top: 200px;
  width: 999px;
  box-sizing: border-box;
}

.headerImage .imgBox {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.headerImage img {
  margin: 0 auto;
  width: 1000px;
}


#headerContent1 {
  margin-top: 100px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  background-color: #f1f1f1;
}

#headerContent1 .headline {
  text-align: center;
}

#headerContent1 h2 {
  padding: 70px;
  font-size: 2.5em;
  font-family: "Frank Ruhl Libre", serif;
  color: #333;
}


.box {
  margin: 0 auto;
  margin-top: 150px;
  width: 1000px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
}

.box .imgBox {
  width: 100%;
  flex: 0 0 450px;
  padding-right: 0px;
}

.box .imgBox img {
  max-width: 100%;
  padding-left: 20px;
}

.box .content {
  padding-left: 20px;
}

.box .content h2 {
  margin: 0;
  padding-top: 50px;
  padding-left: 50px;
  font-size: 2em;
  font-family: "Frank Ruhl Libre", serif;
}

.box .content p {
  margin: 0;
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 60px;
  text-align: justify;
  font-size: 1em;
  line-height: 2em;
  font-family: "Muli", sans-serif;
}

#headerContent2 {
  margin-top: 150px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 0 20px;
}

#headerContent2 .headline {
  text-align: center;
}

#headerContent2 h2 {
  font-size: 2.5em;
  font-family: "Frank Ruhl Libre", serif;
  color: #333;
}

.row {
  margin: 0 auto;
  box-sizing: border-box;
  width: 1000px;
  display: flex;
}

.column {
  float: left;
  width: 33%;
  margin-top: 20px;
  margin-bottom: 16px;
  padding-top: 0px;
  padding-left: 60px;
  padding-right: 60px;
}

.container {
  font-size: 1em;
  text-align: justify;
  line-height: 1.9em;
  font-family: "Muli", sans-serif;
}
.container h3 {
  font-size: 1.2em;
  text-align: center;
}

.row1 {
  margin: 0 auto;
  box-sizing: border-box;
  width: 1000px;
  display: flex;
}

.column1 {
  float: left;
  width: 33%;
  margin-top: 20px;
  margin-bottom: 16px;
  padding-top: 0px;
  padding-left: 60px;
  padding-right: 60px;
}

.container1 {
  font-size: 1em;
  text-align: justify;
  line-height: 1.9em;
  font-family: "Muli", sans-serif;
}

.container1 .listContainer {
  text-align: left;
}

.container1 ul {
  padding-left: 50px;
}

.container1 h3 {
  font-size: 1.2em;
  text-align: left;
}

.box2 {
  margin: 0 auto;
  margin-top: 10px;
  width: 1000px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
}

.box2 .content2 {
  padding-left: 30px;
  padding-right: 60px;
  padding-top: 0px;
  padding-bottom: 70px;
}

.box2 .content2 h2 {
  margin: 0;
  padding-top: 100px;
  padding-left: 50px;
  font-size: 1.5em;
  font-family: "Frank Ruhl Libre", serif;
  color: #333;
}

.box2 .content2 p {
  margin: 0;
  padding-left: 50px;
  padding-top: 10px;
  padding-right: 50px;
  text-align: justify;
  font-size: 1em;
  line-height: 2em;
  font-family: "Muli", sans-serif;
}

.box2 .content2 p a {
  color: #1183ca;
  text-decoration: none;
}

@media only screen and (max-width : 1000px) {
  #showcase .textBox h1 {
    font-size: 2.5em;
    text-align: left;
  }

  .box {
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
  }

  .box .imgBox img {
    max-width: 100%;
    padding-left: 0px;
  }

  .headerImage {
    display: none;
  }

  .headerSmall {
    height: 400px;
    background-image: url('../images/driverPage/headBanner.jpg');
    background-size: cover;
    background-position: 35%;
    margin: 20px;
    margin-top: 150px;
  }

  #headerContent1 h2 {
    padding: 20px;
    font-size: 1.5em;
    font-family: "Frank Ruhl Libre", serif;
    color: #333;
  }

  #headerContent2 {
    margin-top: 50px;
  }

  #headerContent2 h2 {
    padding: 20px;
    font-size: 1.5em;
    font-family: "Frank Ruhl Libre", serif;
    color: #333;
  }

  .row {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
  }

  .column {
    float: left;
    width: 99%;

    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;

    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .column img {
    max-width: 200px;
    max-height: 200px;
  }

  .container {
    font-size: .8em;
    text-align: left;
    line-height: 1.9em;
    font-family: "Muli", sans-serif;
  }

  .container h3 {
    font-size: 1em;
    text-align: center;
  }

  .row1 {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
  }

  .column1 {
    float: left;
    width: 99%;
    margin-top: 10px;
    margin-bottom: 16px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;

    display: inline-block;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container1 {
    font-size: .8em;
    text-align: left;
    line-height: 1.9em;
    font-family: "Muli", sans-serif;
  }

  .container1 h3 {
    font-size: 1em;
    text-align: center;
  }

  .listContainer ul {
    padding-left: 35%;
    float: inherit;
  }

  .box2 {
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    padding: 1px;
    box-sizing: border-box;
    display: inline-block;
  }

  .box2 .content2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 70px;
  }

  .box2 .content2 h2 {
    margin: 0;
    padding-top: 10px;
    padding-left: 5px;
    font-size: 1.2em;
    font-family: "Frank Ruhl Libre", serif;
    color: #333;
    text-align: center;
  }

  .box2 .content2 p {
    margin: 0;
    padding-left: 5px;
    padding-top: 10px;
    padding-right: 5px;
    text-align: left;
    font-size: .8em;
    line-height: 2em;
    font-family: "Muli", sans-serif;
    text-align: center;
  }
}

@media only screen and (max-width: 540px) {
  .listContainer ul {
    padding-left: 30%;
    float: inherit;
  }

  .box .content h2 {
    margin: 0;
    padding-top: 50px;
    padding-left: 30px;
    font-size: 1.2em;
    font-family: "Frank Ruhl Libre", serif;
  }

  .box .content p {
    margin: 0;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 10px;
    text-align: left;
    font-size: .8em;
    line-height: 2.3em;
    font-family: "Muli", sans-serif;
  }
}
