* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-size: 17px;
  line-height: 1.6;
  /*background: url('../images/backgroundAbout.png');*/
}

#showcase {
  background-image: url('../images/lightBlue.jpg');
  height: 70vh;
  margin-top: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  color: #333;
}

#showcase .textBox {
  text-align: left;
}

#showcase .textBox h1 {
  font-size: 4.5em;
  color: #008080;
}

#showcase .textBox .buttonClass {
  padding-top: 50px;
}

#showcase .button {
  font-size: 18px;
  font-family: "Muli",sans-serif;
  background-color: #008080;
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
  padding: 10px 30px;
  box-shadow: 3px 4px 6px grey;
  margin-top: 30px;
}

#showcase .button:hover {
  background: #707070;
  color: #fff;
}

/*
#content {
  text-align: center;
  word-wrap: break-word;
  margin-top: 10px;
  margin-bottom: 10px;
}

#content p {
  padding: 40px;
  font-size: .9em;
  text-align: center;
  font-family: "Muli", sans-serif;
  background-color: #f1f1f1;
}
*/

#headerContent {
  margin-top: 100px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  margin-left: 20%;
  margin-right: 20%;
  border-bottom: #008080 2px solid;
  background-color: #9fedd7;
}

#headerContent .howItWorks {
  text-align: left;
}

#headerContent h2 {
  padding: 40px;
  font-size: 2.5em;
  font-family: "Roboto", sans-serif;
  color: #008080;
}

#headerContent2 {
  margin-top: 450px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  margin-left: 20%;
  margin-right: 20%;
  border-bottom: #008080 2px solid;
  background-image: url('../images/d1e8e2.png');
}

#headerContent2 .eligible {
  text-align: center;
}

#headerContent2 h2 {
  padding: 40px;
  font-size: 2.5em;
  font-family: "Roboto", sans-serif;
  color: #008080;
}

.overall {
  margin-left: 20%;
  margin-right: 20%;

}

.row {
  box-sizing: border-box;
}

.column {
  float: left;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  margin-top: 20px;
  margin-bottom: 16px;
}

.container {
  font-size: 1em;
  text-align: left;
  line-height: 2.3em;
  font-family: "Muli", sans-serif;
}

.container .listContainer {
  text-align: left;
}

.container ul {
  padding-left: 50px;
}
.container h3 {
  font-size: 1.5em;
  font-family: "Cormorant", serif;
}

.row1 {
  padding-top: 20px;
  box-sizing: border-box;
  margin-left: 20%;
  margin-right: 20%;
}

.column1 {
  float: left;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  margin-top: 20px;
  margin-bottom: 16px;
  padding-bottom: 100px;
}

.container1 {
  font-size: 1em;
  text-align: center;
  line-height: 2.3em;
  font-family: "Muli", sans-serif;
}

.container1 h3 {
  font-size: 1.5em;
  font-family: "Cormorant", serif;
}

#headerContent3 {
  margin-top: 390px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  margin-left: 20%;
  margin-right: 20%;
  border-bottom: #008080 2px solid;
  background-color: #def2f1;
}

#headerContent3 .payRates {
  text-align: center;

}

#headerContent3 h2 {
  padding: 40px;
  font-size: 2.5em;
  font-family: "Roboto", sans-serif;
  color: #008080;
}

.tableRates {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  text-align: center;
}

td {
  text-align: center;
  padding: 12px;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 1em;
  font-family: "Muli", sans-serif;
}

th {
  font-size: 1.5em;
  font-family: "Cormorant", serif;
  text-align: center;
  padding: 12px;
  padding-left: 70px;
  padding-right: 70px;
}

.example {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
  font-size: 1em;
  font-family: "Muli", sans-serif;
  margin-left: 20%;
  margin-right: 20%;
}

#headerContent4 {
  margin-top: 100px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  margin-left: 20%;
  margin-right: 20%;
  border-bottom: #008080 2px solid;
  background-color: #99ced3;
}

#headerContent4 .dontHesitate {
  text-align: center;

}

#headerContent4 h2 {
  padding: 40px;
  font-size: 2.5em;
  font-family: "Roboto", sans-serif;
  color: #008080;
}

/*
.row2 {
  display: none;
}
.column1 {
  float: left;
  display: block;
  width: 50%;
  height: 300px;
  font-size: 1.5em;
  text-align: center;
  font-family: "Muli", sans-serif;
}
.imageClass {
  background-image: url('../images/signUp.jpeg');
  height: 300px;
  background-size: cover;
  background-position: center;
}
.imageClass1 {
  background-image: url('../images/carPhone.jpeg');
  height: 300px;
  background-size: cover;
  background-position: center;
}
.imageClass2 {
  background-image: url('../images/happyPerson.jpeg');
  height: 300px;
  background-size: cover;
  background-position: center;
}

.column1 p {
  padding-top: 100px;
}
*/

.getStarted {
  text-align: center;
  padding: 20px;
  padding-top: 30px;
}

.getStarted .button {
  font-size: 18px;
  font-family: "Muli",sans-serif;
  background-color: #008080;
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
  padding: 10px 30px;
  box-shadow: 3px 4px 6px grey;
  margin-top: 30px;
}

.getStarted .button:hover {
  background: #707070;
  color: #fff;
}

@media only screen and (max-width : 1100px) {
  #headerContent2 {
    margin-top: 500px;
  }
}

@media only screen and (max-width : 1000px) {


  #headerContent .howItWorks {
    text-align: center;
  }

  td {
    text-align: center;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: .9em;
    font-family: "Muli", sans-serif;
  }

  th {
    font-size: 1.3em;
    font-family: "Cormorant", serif;
    text-align: center;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  #showcase .textBox h1 {
    font-size: 3.5em;
  }

  #headerContent2 {
    margin-top: 1000px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    padding: 0 20px;
    font-family: "Roboto", sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: #008080 2px solid;
    background-image: url('../images/d1e8e2.png');
  }

  #headerContent3 {
    margin-top: 700px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    padding: 0 20px;
    font-family: "Roboto", sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: #008080 2px solid;
    background-color: #def2f1;
  }

  #headerContent4 {
    margin-top: 100px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    padding: 0 20px;
    font-family: "Roboto", sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: #008080 2px solid;
    background-color: #99ced3;
  }

  .column {
    width: 100%;
    display: block;
  }
  .column1 {
    float: left;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-bottom: 1px;
  }
  h2 {
    display: block;
  }

  /*
  .row1 {
    display: none;
  }

  .row2 {
    display: contents;
    margin-top: 0px;
    padding-bottom: 10px;
  }
  .column1 {
    width: 100%;
    display: block;
    height: auto;
  }
  .column1 p {
    padding-top: 10px;
  }
  */


}

@media only screen and (max-width : 500px) {


  #headerContent4 h2 {
    padding: 40px;
    font-size: 2em;
    font-family: "Roboto", sans-serif;
    color: #008080;
  }

  #headerContent3 h2 {
    padding: 40px;
    font-size: 2em;
    font-family: "Roboto", sans-serif;
    color: #008080;
  }

  #headerContent2 h2 {
    padding: 40px;
    font-size: 2em;
    font-family: "Roboto", sans-serif;
    color: #008080;
  }

  #headerContent h2 {
    padding: 40px;
    font-size: 2em;
    font-family: "Roboto", sans-serif;
    color: #008080;
  }

  #showcase .textBox h1 {
    font-size: 2em;
    color: #008080;
  }

  #headerContent3 {
    margin-top: 800px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    padding: 0 20px;
    font-family: "Roboto", sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: #008080 2px solid;
    background-color: #def2f1;
  }
}

@media only screen and (max-width : 400px) {
  #headerContent3 {
    margin-top: 900px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    padding: 0 20px;
    font-family: "Roboto", sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: #008080 2px solid;
    background-color: #def2f1;
  }
}

@media only screen and (max-width : 350px) {
  #headerContent3 {
    margin-top: 1100px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    padding: 0 20px;
    font-family: "Roboto", sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: #008080 2px solid;
    background-color: #def2f1;
  }
}
