* {
  margin: 0;
  padding: 0;
}
#main {
  overflow: auto;
  border-bottom: 5px solid #000;
}
nav {
  width: 100%;
  height: 80px;
  background-color: #fff;
  line-height: 80px;
}

nav ul {
    margin: 0;
    list-style-type: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    float: right;
    padding-right: 30px;
}
#leftNav {
  float: left;
  margin-left: 15%;
  text-align: center;
  font-size: 25px;
  font-family: 'Pacifico', cursive;
}

#rightNav {
  float: right;
  padding-right: 50px;
}

#leftNav img {
  width: 48px;
  height: 48px;
  float: left;
  padding-top: 17px;
  padding-right: 5px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  transition: 0.5s all;
}

#centerNav li :hover {
  background-color: rgba(0, 0, 0, .5);
}

#rightNav li :hover {
  background-color: rgba(0, 0, 0, .5);
}

nav ul li a {
  text-decoration: none;
  color: #000;
  padding: 20px;
  font-family: "Carter One", cursive;
}
