body {
  background: url("/images/road2-1.jpg");
  background-color: #2e2e2e;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.countDownContainer {
  text-align: center;
  padding: 10px;
  display: table;
  margin: 0 auto;
  padding: 10px;
  border-spacing: 30px;
}

.info td {
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  background: #2e2e2e;
  background-size: auto;
  font-size: 2.5vw;
  border-radius: 5%;
  border: 3px solid #000000;
  padding: 20px;
}

.info1 td {
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

.companyName {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 4vw;
  color: white;
  margin-top: 1%;
  font-weight: bold;
  text-align: center;
}

.comingSoon {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 2.5vw;
  color: white;
  font-weight: bold;
  text-align: center;
}

.name {
  padding-left: 10%;
}

.name li {
  display: flex;
  padding: 30px;
  color: white;
  font-size: 6em;
  font-weight: bold;
  font-family: Arial;
}
