/*
body {
  background-color: #fff;
}

.content-wrapper {
  width: 100%;
  margin-top: 50px;
}

.content-wrapper img {
  width: 100%;
  border-bottom: 5px solid #000;
}

.text-wrapper {
  width: 100%;
  position: relative;
  margin-top: -30%;
}

.text-wrapper1 p {
  text-align: center;
  color: #ffffff;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  padding: 10px;
  font-size: 3.5vw;
}

.text-wrapper2 p {
  text-align: center;
  color: #ffffff;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  padding-top: 30px;
  font-size: 2.5vw;
}

.countDownContainer {
  text-align: center;
  display: table;
  margin: 0 auto;
  margin-top: 17%;
  border-spacing: 30px;
}

.info td {
  color: black;
  font-weight: bold;
  font-size: 25px;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  border: 10px solid #000000;
  padding: 30px;
  border-radius: 50%;
}

.info1 td {
  color: black;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  font-weight: bold;
}
*/
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-size: 17px;
  line-height: 1.6;
}

#showcase {
  background-image: url('../images/carguy15.jpg');
  height: 100vh;
  margin-top: 20px;
  background-size: cover;
  background-position: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-family: 'IBM Plex Mono', monospace;
  color: #333;
}

#showcase h1 {
  font-size: 3.5em;
}

#showcase .button {
  font-size: 18px;
  font-family: 'IBM Plex Mono', monospace;
  background-color: #404040;
  color: #fff;
  text-decoration: none;
  border: #000000 3px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

#showcase .button:hover {
  background: #707070;
  color: #fff;
}

@media only screen and (max-width : 600px) {
  #showcase h1 {
    font-size: 2.9em;
    text-align: center;
  }
}
